[2020-07-30 16:13] dmytro-gokun commented on #219
@prem6667 Would you mind building a small reproduction? I'm not sure i will be able to help as i have no experience with server-side compilation, but let's see.

[2020-07-30 16:16] dmytro-gokun commented on #82
@Wykks Thanks for the answer! Okay, i will assign it to myself and look at it when i have time. Hopefully, soon :)

In any case, anyone interested in this feature is welcome to chime in and give thoughts or submit a PR.

[2020-07-30 17:48] caiusCitiriga commented on #238
Sure, let me do it. Then if interested you can merge it 😊

[2020-08-04 14:12] #124 closed

[2020-08-04 14:12] #203 closed

[2020-08-04 14:12] #130 closed

[2020-08-04 14:13] #88 closed

[2020-08-04 14:13] #201 closed

[2020-08-05 11:16] zamansafari commented on #203
Although I have updated all mapbox-gl libs, but I still encounter the same "Property 'getClusterExpansionZoom' does not exist on type 'AnySourceImpl'." error problem.
Belows are my libs version:
"@types/mapbox-gl": "^0.51.12",
"@mapbox/mapbox-gl-draw": "^1.2.0",
"@mapbox/mapbox-gl-geocoder": "^3.1.6",
"mapbox-gl": "^0.54.1",
"ngx-mapbox-gl": "^3.3.1",

Thank you in advance.

[2020-08-05 11:18] zamansafari commented on #203
I have used mapbox-gl examples from the mapbox GL tutorial page in the below:

https://docs.mapbox.com/mapbox-gl-js/example/cluster/

[2020-08-05 12:33] dmytro-gokun commented on #203
@zamansafari

These are not the latest versions available. Use "npm outdated" to find out the latest versions.

[2020-08-07 01:06] eloquia commented on #229
Is there any progress on this? I'm willing to help out if there's some direction.

Currently I'm trying to figure out how to begin. It seems like the `MapService` in the `ngx-mapbox-gl` library would be able to pretty easily consume the `MapboxDrawControl`

[2020-08-07 01:40] eloquia commented on #229
Even though there are some attempts at adding TypeScript definitions, I do not see them in either the `DefinitelyTyped` repo nor the `mapbox-gl-draw` repo. I guess it's time to create a fork and make a PR directly to the `DefinitelyTyped` repo

[2020-08-07 06:25] dmytro-gokun commented on #229
@eloquia Absolutely! Please go ahead and create type definitions for '''mapbox-gl-draw'''.

[2020-08-07 06:56] dmytro-gokun commented on #229
FYR: https://github.com/mapbox/mapbox-gl-draw/pull/877

[2020-08-07 07:29] patryk-wlaz opened #240 "Markers are rendered outside of the map and moving (shadow dom issues)"
Hi, this is what happens: https://pwlaz.tinytake.com/tt/NDUxOTg5M18xNDMxOTk0Mw

This is my html code:
[code]
css:
[code]
What am I missing here?

When I do not try to add markers, map renders and works normally. Also, it renders at 100% width and height. When I add a marker suddenly overflow appears and marker is rendered below the map - and it moves as shown on the video.

[2020-08-07 07:58] dmytro-gokun commented on #240
@patryk-wlaz You are clearly missing a stackblitz reproduction for the issue. Go ahead and create one. The easiest way is to use demo site: https://wykks.github.io/ngx-mapbox-gl/demo/display-map, click "Edit" there and see if you can reproduce it.

[2020-08-07 12:22] patryk-wlaz commented on #240
I have created repository to reproduce the problem on fresh angular project, and I can't - I did everything as I did in my real app (I can't share the code) but on empty project it works!
I know you can't really help me in this case, but maybe you know what could potentially cause such a problem? What things outside of scope of ths library could be so misleading for it in a way that markers would

[2020-08-07 15:37] eloquia commented on #229
Yeah, I'm thinking that it's a `tsconfig` thing that I need to update in order to get their TypeScript definitions, because my intellisense is complaining that it can't pull the preexisting definitions.

<img width="753" alt="Screen Shot 2020-08-07 at 11 16 21 AM" src="https://user-images.githubusercontent.com/61037003/89660532-773b5c00-d89f-11ea-9a44-84afe8e590c1.png">

The definitions that they

[2020-08-07 17:55] dmytro-gokun commented on #229
@eloquia Yes, you need to create a new type definitions for ```mapbox-gl-draw``` in ```DefinitelyTyped```. The PR I've referenced above may serve as a starting point, but nothing more.

[2020-08-07 20:58] eloquia commented on #229
Thanks for linking the starting point. I'll have to get more comfortable with the `draw` plugin and then I'll link to the `DefinitelyTyped` PR when I submit it. Hopefully it won't take too long

[2020-08-12 02:09] Steven4294 commented on #240
I'm having the same issue

[2020-08-12 02:15] Steven4294 commented on #240
![](https://im6.ezgif.com/tmp/ezgif-6-1ea753d4408f.gif)

[2020-08-12 03:19] Steven4294 commented on #240
heres my package.json. The only thing I can think of is it has something to do with my angular version. @patryk-wlaz

[code]

[2020-08-12 03:25] Steven4294 commented on #240
@dmytro-gokun

[2020-08-12 03:51] dmytro-gokun commented on #240
@Steven4294 I do not think there is something wrong with Angular itself. If that is your suspicion, I'd advice removing your package.json.lock (if you have one) and updating to the latest versions of the libraries used. If that doesn't I can only repeat this: https://github.com/Wykks/ngx-mapbox-gl/issues/240#issuecomment-670386266
I'm sorry to say that, but nobody can (will) help you until you bui

[2020-08-12 03:57] Steven4294 commented on #240
ok, im going to strip out some of my css in my `angular.json` and see what the results are. Ive imported my package.json into a stackblitz and it works, so I dont think its a problem with Angular itself

[2020-08-12 06:33] patryk-wlaz commented on #240
Just to clarify: I have described two issues in this thread. Sorry for this mess, If you would like me to split those issues into two threads - let me know.

**Issue 1** - markers are moving like this: https://pwlaz.tinytake.com/tt/NDUxOTg5M18xNDMxOTk0Mw This is connected to shadowDom. I can confirm, because after rendering map in the same application outside of shadowDom, the issue is gone, marke

[2020-08-12 07:46] dmytro-gokun commented on #240
@patryk-wlaz Thanks for the clarification. If you do not mind, plz move #2 into a separate issue.

Regarding #1 - if you are willing to share the details of the hack you did here, i think folks will be thanksful.

[2020-08-12 09:13] patryk-wlaz commented on #240
It's nothing special but it feels kinda hacky to organize routes like this. We just moved the shadow-dom wrapper that used to wrap the whole application from app.component to special wrapping.component. Router looks like this:

[code]

WrappingComponent html (where shadow-wrapper is our custom component that wraps everything in shadow dom):
[code]

[2020-08-12 09:14] patryk-wlaz opened #241 "Module setup for AOT seems to do nothing"
Method documented as appriopriate library usage for AOT builds doesn't work, which is reproduced here https://github.com/patryk-wlaz/ngx-mapbox-gl-error
Specifically: see lines commented out in this file https://github.com/patryk-wlaz/ngx-mapbox-gl-error/blob/master/src/app/app.module.ts

[2020-08-12 09:26] patryk-wlaz commented on #240
Moved the second issue described here to https://github.com/Wykks/ngx-mapbox-gl/issues/241

[2020-08-12 09:43] dmytro-gokun commented on #240
@patryk-wlaz Does this solve your case?

[2020-08-12 09:57] patryk-wlaz commented on #240
Yeah, for me this issue can be closed

[2020-08-12 10:07] dmytro-gokun commented on #240
Oh, i'm sorry. I mean to ask @Steven4294 :)
@Steven4294 Does this solve your case?

[2020-08-13 01:39] eloquia commented on #229
Just as a status update, I've been pretty stuck between the Type definition file and the `ngx-mapbox-gl` project. It's like the definitions don't seem to line up. I'll keep trying though.

If anyone else wants to follow along and give it a shot, I pasted the following type definitions into `node_modules/@types/mapbox__mapbox-gl-draw/index.d.ts` while in the `ngx-mapbox-gl` project and am trying to

[2020-08-13 01:51] jamesrusso opened #242 "Dynamically adding geojson points in click?"
I am working on an application where I need to click on various areas in a map and then look up that location in a database and then add the circle to the map in the lat/long returned by the database. I am adding the points to the underlying geojson data, but they are never appearing unless they are loaded in ngOnInit?

Is there a way to dynamically add a Feature (point) to a FeatureCollection in

[2020-08-13 05:00] dmytro-gokun commented on #242
@jamesrusso Check out this sample: https://wykks.github.io/ngx-mapbox-gl/demo/live-update-feature. It is not exactly what you need, but it will give you an idea.

[2020-08-13 11:19] jamesrusso commented on #242
@dmytro-gokun Thanks for your help.

Here is a stackblitz based on your example that shows what I am trying to do? I am adding to the FeatureCollection in the click, but it is ever reflected in the map? Where you click should add a point to the map.

https://stackblitz.com/edit/angular-ghftly?file=src/demo.ts

[2020-08-13 12:02] dmytro-gokun commented on #242
@dmytro-gokun You missed this line in the example:

[code]

This creates a new object reference, so Angular knows there was a change and renders properly. May be there is a more elegant way to achieve this (ngDoCheck?), but i cannot think about it right away.

[2020-08-13 12:40] jamesrusso commented on #242
Thanks! I'll try it out and report back. Appreciate the help again!

[2020-08-13 12:49] jamesrusso commented on #242
Working now! Thanks again for your help!

[2020-08-13 12:49] #242 closed

[2020-08-13 19:27] jamesrusso commented on #107
I'm being impacted by this too. Right now, my workaround is to simply just look for the lngLat.

[code]

[2020-08-13 19:31] dmytro-gokun commented on #107
@jamesrusso Yes, i plan to fix this at some point. But that will be in the next major release (5.X) since it's a breaking change. Unfortunatelly, at the moment i cannot tell when i will have time to work on this.

[2020-08-14 07:12] #240 closed

[2020-08-25 01:45] tkutsuna commented on #219
I have created a small repository where this issue occurs.

https://github.com/tkutsuna/mapbox-universal

And I succeeded in eliminating the window reference error using domino.

[code]

https://github.com/tkutsuna/mapbox-universal/tree/fix/window_is_not_defined

Is there any other good way?

[2020-09-02 07:03] vandres opened #244 "Geocoder: Make CMD+V work"
When you paste in an address, it works on Windows (CTRL+V) but not on Mac (CMD+V).

Thats seems already to be fixed in more recent versions of the geocoder repository. So maybe an update of that is already enough: https://github.com/mapbox/mapbox-gl-geocoder/issues/34

[2020-09-02 11:37] dmytro-gokun commented on #244
We need someone who has time and uses this feature to update library so it works with latest mapbox-gl-geocoder. I do not know if this would be a breaking change or not etc. Someone needs to invest time to investigate etc.

[2020-09-08 11:13] magnolo opened #245 "Adding promoteId as input for mgl-vector-source and mgl-geojson-source"
Hello there, i am so blessed and thankful for your work and effort for this lib. I am using it very intense and its great.
I am following a lot of your issues and sometimes i whish i had time to contribute to it and help out a bit. Maybe soon...

My issue here is, that i would like to use a promoteId input for mainly mgl-vector-source so i could use setFeatureState for some of my user interactions

[2020-09-08 12:51] StephaneAlie opened #247 "Expose `maxPitch` and `minPitch` on mgl-map"
I'd like to start by saying great library, very robust, thank you!!

I noticed missing inputs `maxPitch` and `minPitch` on mgl-map (see [mapbox-gl-js doc](https://docs.mapbox.com/mapbox-gl-js/api/map/#map-parameters).) I should have a PR shortly for it if you'll allow it.

Cheers

[2020-09-08 13:04] dmytro-gokun commented on #247
@StephaneAlie PRs are welcome. I will review as soon as I can.

[2020-09-16 08:43] dmytro-gokun opened #249 "Migrate to travis-ci.com"
According to an e-mail i've got from travis CI (https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom?e=5960f11630), travis-ci.org is going to be closed on December 31, 2020, thus:

[code]

@Wykks Do you mind migrating it? Looks like it's pretty straightforward process (https://docs.travis-ci.com/user/migrate/open-source-repository-migration).

[2020-09-18 16:31] jessezhang91 opened #250 "dynamic `className` on `mgl-marker` causes marker to lose mapbox class names"
Hi, I'm dynamically changing the `className` input on `mgl-marker` but that wipes out the `mapboxgl-marker mapboxgl-marker-anchor-center` classes that mapbox adds to the marker.

My workaround right now is to dynamically change `className` with the mapbox classes added as well but that certainly is unexpected behavior.

(Side issue, not specifying a `className` is adding `undefined` as a class so

[2020-09-18 19:06] dmytro-gokun commented on #126
@BAByrne I do not think there is a way to solve this 'properly' because (Angular does not give any ordering guaranetees). At least not one I could be able to come up with. If you have any idea have this might be solved - let me know (plz open a separate issue) or submit a PR.

[2020-09-21 07:39] dmytro-gokun commented on #250
@jessezhang91 Would you mind providing a stackblitz demo using latest versions of all libs involved?

[2020-09-21 16:10] Wykks commented on #249
I was thinking about migrating to github actions, since it's a thing now.
I'll look into it someday :)

[2020-09-21 16:14] dmytro-gokun commented on #249
@Wykks You are absolutely right. But who knows when that day comes. And travis-ci.org has only 3 more months to leave and the migration is really easy ... ;)

[2020-09-21 18:32] Bi-do-mi commented on #108
If you use Yandex. Metrica, just set false for the parameter value: accurateTrackBounce: false

[2020-09-23 10:00] dmytro-gokun commented on #219
@tkutsuna Sorry for the long delay. Question: are you sure this is caused by ```ngx-mapbox-gl``` and not by ```mapbox-gl-geocoder``` itself?

[2020-09-27 15:01] #249 closed

[2020-09-27 15:02] Wykks commented on #249
Done :)

[2020-09-27 16:14] dmytro-gokun commented on #249
Hoorray, thanks!
Though, it looks like we have some Markup funkiness in README.md:

![image](https://user-images.githubusercontent.com/580460/94369993-b5ae0400-00f5-11eb-8b10-daa07aec9bda.png)

[2020-09-27 16:29] Wykks commented on #249
whoops, fixed 😅

[2020-09-28 01:44] tkutsuna commented on #219
I think the `electron` and `window` issues are probably due to `mapbox-gl-geocoder`.

[2020-09-28 09:54] dmytro-gokun commented on #219
@tkutsuna If this issue is caused by ```mapbox-gl-geocoder``` than it has to be moved there :)

[2020-09-30 04:28] passionashley opened #251 "angular 10 error 'mgl-map' is not a known element:"
angular 10 error 'mgl-map' is not a known element: -
How to fix the error

[2020-09-30 07:28] dmytro-gokun commented on #251
Please use stackoverflow for questions like this one.

[2020-09-30 07:28] #251 closed

[2020-10-04 13:32] ArmaProjects commented on #63
@amirofy2002 mentioned above error when the mapbox-gl-rtl-text connected with addControl method.
The error is still there. It seems that mapbox-gl-rtl-text differs from another plugins.

Do anyone has an idea how to connect mapbox-gl-rtl-text to a project?

[2020-10-04 19:19] dmytro-gokun commented on #63
@ArmaProjects This issue is closed. Please create a new one and provide a reproduction project (preferrably, using the stackblitz template supplied). Then, if someone has time, they may help you.

[2020-10-05 01:36] tkutsuna commented on #219
Since mapbox-gl is a library that only assumes operation on the client side, it seems impossible to guarantee operation on the server side.

On the other hand, ngx-mapbox-gl is an Angular library, and it is better to assume the operation on the server side.

It may be difficult to handle it with the code of ngx-mapbox-gl, but I think it would be better if there is an example of SSR in the document

[2020-10-05 03:08] dmytro-gokun commented on #219
Well, I'd argue ngx-mapbox-gl should not attempt to do better than the libs it depens on. This is way down the rabbit hole. IMO.

I absolutely agree. Would you volounteer for creating such an example that we can put in the documentation? Remember, it does not have to be perfect. Just something we (and other people) can iteratate on.

[2020-10-08 19:49] AnthonyMacKinnon commented on #51
@dmytro-gokun Here's one use case. I have 2 maps on the same page that I want to bind to the same list of sources. However, I would prefer not to duplicate the logic and instead wrap it in a template. What I'd like to do is something like this:

[code]

When I do, however, I get the following error:

[code]

I can get rid of this error by adding `MapService` as a provider in `AppModule`. However,

[2020-10-13 11:57] tiukh commented on #241
@dmytro-gokun hi, do you have any updates on this?

after migration from angular 8 to 9 and ngx-mapbox from 3.3.1 to 4.8.1, got an error

[code]

[2020-10-13 15:52] dmytro-gokun commented on #241
@tiukh No, unfortunately, I'm very tight on time now. If you are willing to step up and help with finding the root caise and - you are very welcome. As well as anyone else.

[2020-11-06 16:00] rhegner opened #254 "Problem importing NgxMapboxGLModule"
I'm trying to add ngx-mapbox-gl to an existing Angular 10 (v10.2.2) application.
When adding `NgxMapboxGLModule` to the imports of my `AppModule`, I get the following error message:

[code]

Is this a known issue? How can I fix it?

I'm using:
[code]

[2020-11-08 15:42] IKondor commented on #254
It's all about Ivy
I have this problem too and solve is: set `"enableIvy": false` on `angularCompilerOptions` in `tsconfig.lib.json`
[this file](https://github.com/Wykks/ngx-mapbox-gl/blob/master/projects/ngx-mapbox-gl/tsconfig.lib.json)

[2020-11-10 12:35] rudyhadoux opened #255 "The default configuration does not work"
Hi,

The default configuration in the read.me does not work with :

@Component({
  template: ` <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[9]" [center]="[-74.5, 40]"> </mgl-map> `,
  styles: [
    `
      mgl-map {
        height: 100%;
        width: 100%;
      }
    `,
  ],
})
export class DisplayMapComponent {}

mgl-map { height: 100%; width: 100%; } is 100% of a parent div

[2020-11-12 12:10] Wykks commented on #255
Hi!

What would you recommend instead ?

[2020-11-12 12:14] rudyhadoux commented on #255
You just have to add a parent div in template like that :
<div style="width:90vw;height:90vh;"></div>

[2020-11-12 12:16] #255 closed

[2020-11-18 10:52] almothafar opened #256 "Build failing with latest Angular 11 and @types/mapbox-gl"
Build failing with latest Angular 11 and `@types/mapbox-gl`, with error:

[code]
I got typescript 4, Angular 11, `@types/mapbox-gl` 1.12.8

![image](https://user-images.githubusercontent.com/13887564/99520966-789b1b00-299c-11eb-994e-a806a373d76d.png)

![image](https://user-images.githubusercontent.com/13887564/99520864-52757b00-299c-11eb-89e7-af4d9a65c43f.png)

with `@types/mapbox-gl` version 1.12

[2020-11-18 13:14] dmytro-gokun commented on #256
@almothafar Just use @types/mapbox-gl 1.12.7 for the time being. At the moment I do not have time to fix this. Another possibility is to submit a PR.

[2020-11-25 05:44] Kcorab commented on #256
This issue has nothing to do with angular 11. You could simply remove the `Layer` interface in your `layer.component.d.ts`.
Please insert always the text of your error message, so a web search engine is able to find the issue.

[2020-12-02 10:47] mlicciardi opened #257 "Build failing due to missing Position on geolocate-control.directive.d.ts"
As well of the build failing due to the Layer import ([open issue here](https://github.com/Wykks/ngx-mapbox-gl/issues/256)) my build is build failing here too:
[code]

package.json devDependencies
[code]

[2020-12-07 07:26] dmytro-gokun commented on #256
So, the root cause of this issue is this PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49611
It introduced a breaking change to the type definitions. I've now asked the PR author to explain why he had to do that. Let's wait a bit for the answer and then decide what to do here. Ideally, the type definition has to be fixed. If that does not happen, I will think how to fix the library c

[2020-12-07 12:17] dmytro-gokun commented on #256
@almothafar This should be fixed now when using @types/mapbox-gl >= 1.12.9

[2020-12-07 12:18] #256 closed

[2020-12-07 12:18] dmytro-gokun commented on #257
@mlicciardi Does this still happen with @types/mapbox-gl >= 1.12.9?

[2020-12-07 12:20] dmytro-gokun commented on #254
@rhegner Do you still have this issue? If yes, please post a minimal reproduction sample (via stackblitz or a separate repo). If no - how did you fix it?

[2020-12-07 12:21] #219 closed

[2020-12-07 15:34] denaillc opened #259 "transformRequest context"
Hi,

I am migrating a map from vanilla js to an Angular project using ngx-mapbox-gl.
I cannot seem to find how to use a variable in the function that is passed as the transformRequest :
[code]

[code]

I tried with NgZone too :

[code]

I am trying to inject a JWT in the tile requests headers, but cannot access my auth service, or any variable set in the Angular component. Did I miss something ?

[2020-12-07 15:41] dmytro-gokun commented on #259
@denaillc "injectToken" is going to be called from within mapbox-gl itself which has no clue about your Angular object and would not call your function with correct "this" value. So, for this to work, you need to bind "this" to your "injectToken" function.

[2020-12-07 15:41] dmytro-gokun commented on #259
@denaillc I'm closing this as it has nothing to do with this library. Please use StackOverflow to ask questions.

[2020-12-07 15:41] #259 closed

[2020-12-07 19:40] rhegner commented on #254
I ended up using Mapbox directly (without using this angular wrapper).

[2020-12-08 07:36] #254 closed

[2020-12-08 22:05] Wykks commented on #247
Fixed with https://github.com/Wykks/ngx-mapbox-gl/pull/253

[2020-12-08 22:05] #247 closed

[2020-12-10 12:49] HarelM opened #260 "Mapbox transition out of open source world"
It seems that Mapbox is transitioning out of free open source license.
There's a project now forming around the open source port of this:
https://github.com/maplibre
It might be nice to have this project there and reference the open source version of mapbox (maplibre).
Another option is to allow dependencies of one of the projects - maplibre and mapbox and avoid warning in NPM when installing it.

[2020-12-10 12:57] dmytro-gokun commented on #260
@HarelM What do you mean they are "transitioning out of free open source license"? I do not see anything in their new license agreement which would point me towards that conclusion. Granted, it is not BSD anymore, but it is still free to use for everyone. Am I wrong? Could you please elaborate?

[2020-12-10 13:17] HarelM commented on #260
The internet is full of articles ranting about it :-)
Here's one:
https://l.facebook.com/l.php?u=https%3A%2F%2Fjoemorrison.medium.com%2Fdeath-of-an-open-source-business-model-62bc227a7e9b%3Ffbclid%3DIwAR0xqxrtHNtdfjdDBIdwLeELHCWgcB3iUbXRuwl3gXtpCb6touqCkjW7wgI&h=AT2nElHI_d--_JLkhcpuhqFJkuBKI6a6U14LAVjEmg0-MczGQqHIpALRHwwPv-RVUKJVnqlnFUHwvWMTiEP_bbYVdbrGO-Ap-qzmX54x5nb9GdyeMJzbsRjIJsIMD_KRd2Ae&__tn

[2020-12-10 13:41] dmytro-gokun commented on #260
Can you point our a clause in their license which makes you think so?

[2020-12-10 13:45] HarelM commented on #260
"Developers may modify the
Mapbox Web SDK code so long as the modifications do not change or interfere with
marked portions of the code related to billing, accounting, and anonymized data
collection".
I might be wrong though. Don't take my word for it... :-)

[2020-12-10 13:56] dmytro-gokun commented on #260
Well, what this clause says is that you cannot modify particular part of SDK. It does not say anything about using SDK without a mapbox token. That's how I understand it. I've read this yesterday and did not see anything particularly spooky for the library users :) I might be wrong here though.

[2020-12-10 14:14] magnolo commented on #260
Its not totally clear to me because i have not tried yet, but mapbox 2.0 seems to require a token to initialize. Am i wrong here?

[2020-12-10 14:19] dmytro-gokun commented on #260
What i can find so far here https://www.mapbox.com/legal/tos/:

"When you use our application program interfaces (APIs), including our SDK Registry/Downloads API, each request to an API must include one of your account's unique API keys."

So, indeed 2.0.0 will only work with mapbox's API keys. We'll see what this really means in the future.
Still, version 1.1.13 remains as is forever. Granted, it

[2020-12-10 14:21] HarelM commented on #260
No problem, just wanted to start a discussion and let you guys know of the recent news :-)
Keep up the good work!

[2020-12-10 21:51] Wykks commented on #260
Thanks for the head up. I saw the 2.0.0 release briefly but didn't noticed this big licensing change.

Let's wait and see for now...

[2020-12-12 14:22] #107 closed

[2020-12-13 15:42] #149 closed

[2020-12-13 16:33] Wykks commented on #257
Hi @mlicciardi

Looks like something changed in recent version of typescript. For now, ngx-mapbox-gl is not compatible with typescript 4.1.x

[2020-12-17 02:54] niki-yuan opened #261 "Geocoder directive 'flyTo' parameter not accepting object"
In https://github.com/Wykks/ngx-mapbox-gl/blob/master/projects/ngx-mapbox-gl/src/lib/control/geocoder-control.directive.ts

 @Input() flyTo?: boolean;

is missing the support for accepting an object to allow user to pass in options. So currently there is no way of changing the animation using this directive.

The mapbox-gl-geocoder has been updated to allow that:

flyTo (Boolean | Object) If false

[2020-12-19 06:40] dmytro-gokun commented on #241
@tiukh Does this issue exist with https://github.com/Wykks/ngx-mapbox-gl/releases/tag/v5.0.0?
If yes, please provide a reproduction.

[2020-12-21 10:24] almothafar commented on #260
It seems 2020 don't want to end with good news lol
Even Kendo now requires a license to work! https://www.telerik.com/kendo-angular-ui/my-license/

Every company now wants to get money in any way!

It seems good days are no more.

[2020-12-27 14:13] elliotleelewis opened #262 "Geocoder: Split modules to improve bundle size"
`@mapbox/mapbox-gl-geocoder` is written using the CommonJS import syntax, and as a result, the import cannot be optimized by Angular. This actually throws a warning when using newer versions of Angular:

[code]

Currently `@mapbox/mapbox-gl-geocoder` is only used by the `GeocoderControlDirective` in this library, but that directive is included in the same module as everything else, and there's no

[2020-12-28 19:54] lassschr opened #263 "Build failed: "Could not find a declaration file for module '@mapbox/mapbox-gl-geocoder'""
Hi, just installed ngx-mapbox-gl following the given instructions and have ran into the following problem stated below.
I am using:
* Angular 11.0.1
* @types/mapbox-gl 2.0.0
* mapbox-gl 2.0.1
* ngx-mapbox-gl 5.0.0
* typescript 4.0.2
* @mapbox/mapbox-gl-geocoder 4.7.0

`Error: node_modules/ngx-mapbox-gl/lib/control/geocoder-control.directive.d.ts:2:33 - error TS7016: Could not find a declaration fi

[2021-01-01 16:05] Wykks commented on #262
Hi,

Yes you're right, PR welcome :smile:

[2021-01-03 11:21] constantlb opened #264 "Angular 11 : Module '"../../../@types/mapbox-gl"' has no exported member 'Alignment'"
These two errors appear with Angular 11 project :

With the last version of this two modules :

    "mapbox-gl": "^1.13.0",
    "ngx-mapbox-gl": "^4.8.1",
___

It's works on angular 11 with these version for me :

    "mapbox-gl": "1.10.0",
    "ngx-mapbox-gl": "4.5.0",

[2021-01-05 12:03] salmoro commented on #263
Have same issue with Angular 10.1.3.
As a temporary fix I rolled back to 4.8.1.

[2021-01-08 17:33] ezk84 commented on #245
This was fixed with #253, AFAIK?

[2021-01-08 18:14] dmytro-gokun commented on #245
@ezk84 Yes, it was.

[2021-01-08 18:14] #245 closed

[2021-01-11 23:25] teacoat opened #265 "Mapbox GL 2.0"
As [Mapbox updated to v2](https://github.com/mapbox/mapbox-gl-js/releases), is there a way to use this version with this library?
Seems to be very little breaking changes.

[2021-01-12 07:28] dmytro-gokun commented on #265
@teacoat Just try it, it works :)

[2021-01-12 09:33] danijelcigula opened #266 "Image source is not working in Firefox and Safari"
Hi, the ["Update an image source in realtime"](https://wykks.github.io/ngx-mapbox-gl/demo/live-update-image-source) is not working in Firefox and Safari.

[2021-01-12 09:34] danijelcigula opened #267 "The image source is not working in Firefox and Safari"
Hi, the [Update an image source in realtime](https://wykks.github.io/ngx-mapbox-gl/demo/live-update-image-source) is not working in Firefox and Safari.

[2021-01-17 08:44] HarelM opened #268 "Support Angular 11"
I'm guessing that this package already support this, but I would consider changing the major and minor version to match those of Angular to let the users know which version of this library is compatible to which Angular version...
This is just a suggestion from other packages I've seen to do the same.
The main requirement here is that the warning when using npm install will be gone :-)

[2021-01-17 09:11] HarelM opened #269 "typescript errors when compiling?"
I have the following errors when removing `skipLibCheck: true` in `tsconfig.json` of my project:
Not sure if it my configuration or that they are valid errors/warnings...
[code]

[2021-01-17 20:56] HarelM opened #270 "Add deprecation warning in changelog?"
After the upgrade to 5.0 (I think) I started getting deprecation warnings in the console.
I looked at the changelog.md file but couldn't find anything.
While the warnings are clear, I hoped to get some more info on the reason and full picture of this change...

[2021-01-21 22:05] rlmestre commented on #269
You need to update `@types/mapbox-gl` to `1.13.0`. I ran into the same issue and resolved it by updating. In case you haven't updated `mapbox-gl`, do that, too.

[2021-01-22 11:47] HarelM commented on #269
Thanks for the info, I have a custom version of mapbox-gl so it's a bit more complicated and I also want to switch to maplibre, but thanks a lot for the info! :-) I'll see what I can do...

[2021-01-22 12:57] magnolo opened #271 "MapControls doesnt get removed when Component gets destroyed"
We are using some native map controls like navigation or scaling and showing/hiding with *ngIf.

Lately it seems, that those controls doesnt get removed from the map when the control component gets destroyed. It seems like that

[code]
never gets set to true and so on destroy it never gets removed from map.

looks like

[code]
is not really as good as

[code]
not really clear about it, but with *n

[2021-01-22 13:12] rlmestre commented on #257
Per [@types/geojson](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/geojson/index.d.ts#L34-L41), `Position` is just an (type) alias for `[number, number, number?]`. Maybe it can be declared directly here? By adding it manually the error goes away, but I haven't tested it yet since I don't use `mglGeolocate`.

[2021-01-24 15:14] HarelM commented on #269
@rlmestre suggestions seems to have solved the issue. Thanks!!
Closing...

[2021-01-24 15:14] #269 closed

[2021-01-25 10:26] #266 closed

[2021-01-25 10:45] dmytro-gokun commented on #266
@danijelcigula Did you make it work or? Please share your solution if there is any.

[2021-01-25 11:02] danijelcigula commented on #266
@dmytro-gokun I close this because is the same as this - #267

[2021-01-25 17:12] tillkuhn commented on #268
Same here. I recently switched to Angular 11 and while I have not faced any issues with Mapbox related code so far, the build warnings are a bit annoying. Thanks!

[code]

[2021-01-27 18:22] parabolabam commented on #51
Any updates?

[2021-02-01 09:55] Wykks commented on #268
Done in https://github.com/Wykks/ngx-mapbox-gl/pull/273 (thanks @Nosfit  :) )

[2021-02-01 09:55] #268 closed

[2021-02-05 10:32] dmytro-gokun commented on #267
@dmytro-gokun Could you plz elaborate? I've checked and it seem to work for me. Please provide us much info as you can. OS version, browser version. A screen recording would be of a great help.

[2021-02-05 10:35] dmytro-gokun commented on #257
@rlmestre Please check if the problem exists with 6.0.1

[2021-02-05 10:51] danijelcigula commented on #267
@dmytro-gokun It looks like it works now. To reproduce you simple opened [link](https://wykks.github.io/ngx-mapbox-gl/demo/live-update-image-source) in safari (there was no moving image). But not is workin. I'm closing this issue.

[2021-02-05 10:51] #267 closed

[2021-02-06 10:56] vandres opened #275 "v6 breaks layout parameter"
This is no longer possible, since the Layout type is missing some properties:

[code]

Full declaration:

[code]

[2021-02-06 18:42] dmytro-gokun commented on #275
@vandres Please provide a reproduction sample (stackblitz)

[2021-02-06 18:43] #265 closed

[2021-02-06 18:44] dmytro-gokun commented on #263
@lassschr Does the problem still exist with v6.0.1?

[2021-02-06 18:51] dmytro-gokun commented on #264
@constantlb Does the problem exist with the latest versions of all three libs (mapbox-gl, ngx-mapbox-gl, @types/mapbox-gl)?

[2021-02-06 18:54] dmytro-gokun commented on #260
@Wykks I think this is not much to do here. If someone wants to fork this repo and start supporting maplibre, that's okay. But I highly doubt this library will support it. Maybe we should just close this issue.

[2021-02-06 18:56] #202 closed

[2021-02-06 19:07] HarelM commented on #260
I don't mind forking and helping maintain the maplibre fork but I was hoping you guys would join me there... If this is not the direction you would like to pursue that totally fine! I mainly wanted to know where you stand.
I truly appreciate all the hard work invested in this amazing wrapper! Keep it up.

[2021-02-06 20:07] vandres commented on #275
@dmytro-gokun Thanks for the quick response. Found a workaround for now. Will try to provide you with a Stackblitz asap.

Workaround:

[code]

[2021-02-06 20:26] lassschr commented on #263
Yes - and now there is also an issue in the same file "geocoder-control.directive.ts" when exporting { Result, Results } from @mapbox/mapbox-gl-geocoder on line 8:

node_modules/@mapbox/mapbox-gl-geocoder/lib/index.js' implicitly has an 'any' type

[2021-02-06 20:54] lassschr commented on #263
After updating to v6.0.1:

Error: node_modules/ngx-mapbox-gl/lib/control/geocoder-control.directive.d.ts:2:55 - error TS7016: Could not find a declaration file for module '@mapbox/mapbox-gl-geocoder'. 'ROOT/node_modules/@mapbox/mapbox-gl-geocoder/lib/index.js' implicitly has an 'any' type.
  Try `npm install @types/mapbox__mapbox-gl-geocoder` if it exists or add a new declaration (.d.ts) file cont

[2021-02-06 21:07] lassschr commented on #263
After updating to v6.0.1 and running the following command:

npm install @types/mapbox__mapbox-gl-geocoder

The error is now gone and I will close this issue.

[2021-02-06 21:07] #263 closed

[2021-02-07 07:35] dmytro-gokun commented on #260
@HarelM IMO, the libs will inevitably diverge and maintaining single wrapper for both will become harder and harder (error-prone and so on). That being said, if it some point our company decides to switch to maplibre, I will definitely come to help with a wrapper for it.

[2021-02-07 07:51] HarelM commented on #260
Fair enough. My initial assumption is that there won't be a single wrapper, but rather two wrappers each for each library - as I agree that maintaining a single wrapper for both will become harder or not possible over time.
I'll fork this one to maplibre github company and let you guys know how it goes... I still need something implemented in mablibre before I can switch to it, I hope it will happ

[2021-02-08 01:20] rlmestre commented on #257
It does compile on 6.0.1 but it's importing the wrong `Position` interface. My previous comment was also incorrect on the matter. TypeScript updated their DOM lib and as a result `Position` was renamed to `GeolocationPosition`. 6.0.1 is importing a different interface from `@angular/compiler` which is unrelated.

[2021-02-08 07:58] dmytro-gokun commented on #260
Closing the issue for now. Let's re-visit this when (if) the need arises

[2021-02-08 07:58] #260 closed

[2021-02-09 09:09] dmytro-gokun commented on #257
Closed via #276, released in v6.0.2

[2021-02-09 09:09] #257 closed

[2021-02-09 10:33] eschricker opened #277 "[v6.0.2] Missing interface GeolocationCoordinates"
I have updated ngx-mapbox-gl to 6.0.2. When building my angular project I get the following error:

[code]

With 6.0.1 its working.

[2021-02-09 15:00] dmytro-gokun commented on #277
@eschricker Please check out 6.0.3

[2021-02-09 15:34] eschricker commented on #277
Now it's working! Thanks for the quick response :)

[2021-02-09 15:34] #277 closed

[2021-02-10 13:33] Wonnder22 opened #279 "Reference error after updating to 2.0 version"
I recently updated to Angular 11 and your Mapbox 2.0 version and since then Im getting this error.
![image](https://user-images.githubusercontent.com/78858950/107516149-44ef1c00-6bac-11eb-913d-1bf5da163316.png)

The app compiles without errors but you can only see a div with beige background in the preview, I think its a common issue after jumping to version 2.0 of Mapbox,as many React users have

[2021-02-10 13:40] dmytro-gokun commented on #279
Please provide a stackblitz with a reproduction

[2021-02-12 08:02] dmytro-gokun commented on #275
@vandres Could you plz check if @types/mapbox-gl@2.0.5 fixes this issue for you?

[2021-02-14 15:31] ipula-cstech opened #280 "i'm trying to navigate US Polygon"
i want to navigate state -> county  like wise

[2021-02-14 15:38] ipula-cstech commented on #280
[code]

[2021-02-15 02:07] vandres commented on #275
Thanks for coming back. I updated the types to "2.1.0" with success! Much appreciated!

[2021-02-15 02:07] #275 closed

[2021-02-21 09:25] makdeniss opened #282 "force resize?"
Hey,

How can I force a resize of map after a certain operation? I need this for an ionic as this one has troubles with inner element height?

[2021-02-22 04:03] long3009 opened #283 "Mapbox GL new license"
Dear all,
Mapbox gl is not free, now. Do you have any plan to support "maplibre-gl"? Please refer to this news https://www.maptiler.com/news/2021/01/mapbox-gl-open-source-fork/
Thanks

[2021-02-22 07:52] dmytro-gokun commented on #283
https://github.com/Wykks/ngx-mapbox-gl/issues/260

[2021-02-22 07:52] #283 closed

[2021-02-22 08:12] long3009 commented on #283
Thanks

[2021-02-24 13:51] 0xF76 opened #284 "Error importing NgxMapboxGLModule"
### Hey there!
I'm trying to import **NgxMapboxGLModule**
[code]
And i get an error

[code]
I've added `allowSyntheticDefaultImports` and `esModuleInterop` flags to `tslint.json` but it still doesn't work.

Has anyone had this problem and can help me?

[2021-02-24 13:58] #284 closed

[2021-03-01 06:41] bashasm opened #285 "Showing ripple effect at specified lat lng"
I am using mapbox library and need to upgrade to ngx-mapbox-gl to simplify the code

Here is the code for showing ripple at specificed lat lng, it also needs mapGrahpicView ( i am thinking upgrading to ngxmapboxgl will avoid using this)

[code]

Please advise

[2021-03-02 14:22] vandres commented on #279
Get the same error. After mangeling it is "ReferenceError: y is not defined". I am only getting it, after a production AoT build. In development it doesn't occur.

It seems to be related to this issue opened in the mapbox-gl-js repository. They also meantion a workaround, but I have no idea how to apply it https://github.com/mapbox/mapbox-gl-js/issues/10173#issuecomment-788940677

[2021-03-03 12:57] vandres commented on #279
I have one more insight. When I switch my build to ES2015 (`"target": "es2015",`), that error doesn't occur. It only occurs for ES5 builds.

[2021-03-03 17:42] andrewaldasoro opened #286 "MapboxGL 2.1.1 cannot run without token"
MapboxGL 2.1.1 is not accepting null tokens anymore 😢
https://stackblitz.com/edit/ngx-mapbox-gl-without-token-y2hjdf

### README.md:98 -> Line should be deleted. or Find a workaround,
(Note: `mapbox-gl` can work without a token, if you have your own source, for example: https://stackblitz.com/edit/ngx-mapbox-gl-without-token)

I tried with an updated project without token and it didn't work.

![im

[2021-03-04 00:04] DroidZed commented on #286
Check #287 , I've done the pull request for the fix to be taken care of.

[2021-03-04 06:33] bashasm commented on #282
have you used `map.resize();` on the actual map instance

[2021-03-04 06:34] bashasm commented on #285
Any suggestions? Please advise

[2021-03-04 07:22] dmytro-gokun commented on #286
Thanks for the PR, @DroidZed! I've merged it in, readme is updated.

[2021-03-04 07:22] #286 closed

[2021-03-04 09:36] DroidZed commented on #286
You're welcome !

[2021-03-12 03:50] guoxiang928 opened #289 "Error: The layer 'mgl-markers-for-clusters-0' does not exist in the map's style and cannot be queried for features."
![image](https://user-images.githubusercontent.com/76056629/110889430-f3b57380-82a2-11eb-8dff-e78bfd621b99.png)

[2021-03-16 08:04] BoJIbFbI4 commented on #289
also got this, on every refresh.

[2021-03-19 04:27] bashasm commented on #285
Any advice?

[2021-03-19 04:58] bashasm opened #291 "how to show markers on the visible area and lazy load others when the user zooms/navigates"
Hi All
how to show markers on the visible area and lazy load others when the user zooms/navigates

I am checking the events and could not find any thing suitable

Please advise

[2021-03-22 08:12] BoJIbFbI4 commented on #289
This is the code example of my case:

[code]

[2021-03-23 08:05] happyxhw commented on #264
same problem with 6.0.4 & angular11

[2021-03-23 08:17] dmytro-gokun commented on #264
@happyxhw That's interesting. Would you mind creating a small reproduction project (or stackblitz)?

[2021-03-23 08:25] happyxhw commented on #264
Thank you for you reply, I had fixed this problem with runing:

[code]

[2021-03-23 08:31] dmytro-gokun commented on #264
@happyxhw Great!

[2021-03-23 08:31] #264 closed

[2021-04-01 11:45] Vegita2 commented on #263
This should be added to the readme

[2021-04-18 17:26] dc480506 commented on #284
What was the workaround for this because I'm also getting this error.

[2021-04-18 18:17] 0xF76 commented on #284
I changed
`import { NgxMapboxGLModule } from 'ngx-mapbox-gl';`
to
`import * as MapboxGl from 'mapbox-gl';`
in
`node_modules/ngx-mapbox-gl/__ivy_ngcc__/fesm2015/ngx-mapbox-gl.js`

[2021-04-19 04:33] dc480506 commented on #284
@0xF76 In my file i.e. node_modules/ngx-mapbox-gl/__ivy_ngcc__/fesm2015/ngx-mapbox-gl.js , the import statement is already correct.

[2021-04-30 12:05] PriyaVarshney2387 commented on #203
yes, still I am facing same issue

"@types/mapbox-gl": "2.1.1",
"mapbox-gl": "2.2.0",
`map.getSource('places').getClusterExpansionZoom(
                        clusterId,
                        function (err, zoom) {
                            if (err) {
                                return;
                            }
                            let center;
                            if (f

[2021-05-17 23:27] shuabrannigan commented on #282
ran into a similar issue when running ionic app on iOS, seemed to be when the keyboard popped up the map would never go back to fullscreen.

solution we are using currently is to emit an event when we know the interaction with the keyboard is finished and run `map.resize();` on the map instance.

[2021-05-18 06:28] #282 closed

[2021-06-11 13:18] HarelM commented on #260
For anyone reading this in the future, I've started a fork to support maplibre here:
https://github.com/maplibre/ngx-maplibre-gl
It's still in very early stages right now but I hope to spin up a npm package soon.
Feel free to join me there.
I would like to personally thank all the @maintainers of this awesome project. It's truly a fine piece of software. If the credit I added in my fork is not eno

[2021-06-11 13:19] HarelM commented on #283
@long3009 I have created a fork (see my last comment in the linked issue), I still need to make it work with maplibre, you are welcome to join in the effort.

[2021-06-11 16:25] airbreather opened #298 "Support Angular 12"
Like #268, but with the version number incremented by 1

[2021-06-11 16:44] dmytro-gokun commented on #298
@airbreather PR is welcome :)

[2021-06-16 04:34] sarath-k opened #301 "fullscreen is not working in safari"
In full screen view with safari, it si showing a small area map and rest of the space are blank. Kindly help to resolve the issue
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/85979900/122158416-41d1a880-ce8a-11eb-826d-c24807f99423.png)

https://wykks.github.io/ngx-mapbox-gl/demo/fullscreen, this demo also not working properly in safari

[2021-06-16 05:20] sarath-k commented on #301
@Wykks

[2021-06-17 10:08] mikgross opened #302 "mgl-feature in mgl-geojson-source is not rendering"
It seems that I am not able to display the points in those components. I am using the following:
[code]

my `geometry` object looks like this:

[code]

What am I doing wrong?

[2021-06-17 10:18] mikgross commented on #302
Is it possible that because I am using `scss` in my app, the css added is not loaded correctly and therefore does not renders the geometry?

[2021-06-17 10:59] mikgross commented on #302
[code]
Well well well.... :)

[2021-06-17 11:00] #302 closed

[2021-06-22 10:52] Carniatto commented on #298
@dmytro-gokun can you check my PR?

[2021-06-22 11:14] dmytro-gokun commented on #298
@Carniatto Thanks for the PR. Unfortunately, we cannot use this directly as we've already started working on lib split (will be pushed shortly), but we will use your ideas to update to Angular 12 later this week,

[2021-06-22 12:35] Carniatto commented on #298
@dmytro-gokun thanks, This is blocking our update to Angular 12 and Nx 12.3 is quite critical

[2021-06-23 14:09] dmytro-gokun commented on #298
The new version of the library with Angular 12 support has been released: https://www.npmjs.com/package/ngx-mapbox-gl/v/7.0.0

Please try that out and if something does not work as expected feel free to open new issues in this repository.

[2021-06-23 14:09] #298 closed

[2021-06-23 14:10] dmytro-gokun commented on #301
@sarath-k Is this of any help: https://github.com/mapbox/mapbox-gl-js/issues/7990 ?

[2021-06-24 05:35] sarath-k commented on #301
@dmytro-gokun the below code helped me to fix the issue.

**component.ts**

@HostListener('webkitfullscreenchange', ['$event'])
screenChange() {
  this.map.resize();
}

**component.html**
   <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v11'"
    [zoom]="[5]"
    [center]="[77.3453388, 12.782237]"
    (mapLoad)="map=$event"

[2021-06-24 08:31] dmytro-gokun commented on #301
@sarath-k Glad you've found the solution. And thank for sharing it!

[2021-06-24 08:31] #301 closed

[2021-06-24 08:34] dmytro-gokun commented on #279
@Wonnder22 Please check out if this problem still exists with the latest version (7.0.0) and if it does open a new issue

[2021-06-24 08:34] #279 closed

[2021-06-27 07:14] owolfy opened #317 "Integrating Threebox libary"
I am trying to use [Threebox](https://github.com/jscastro76/threebox) with ngx-mapbox-gl. I found out that after initiating Threebox's instance, mgl-marker events are disabled and I cannot use any of Threebox 3D (custom model) events.

Is this a known issue?

ngx-mapbox-gl: 6.0.4
three: "0.119.1
mapbox-gl: 1.12.0

[2021-06-29 09:36] YaroslavKormushyn opened #319 "[Question] `setFeatureState` expects numeric feature id if no `promoteId` on the GeoJSON source was specified"
Hi,

I have a case where I need to implement a hover effect on a layer. I've seen the example [here](https://github.com/Wykks/ngx-mapbox-gl/blob/master/projects/showcase/src/app/demo/examples/hover-styles.component.ts), which is using a separate layer with a filter expression to match the hovered feature.

I've found that the [original Mapbox tutorial](https://docs.mapbox.com/mapbox-gl-js/example/

[2021-06-29 09:58] YaroslavKormushyn commented on #319
Here's a [Stackblitz ](https://stackblitz.com/edit/angular-bhjczr?file=src/demo.ts)for this

[2021-06-29 10:08] YaroslavKormushyn commented on #319
I have updated the stackblitz demo to have full control over the original geojson features. Let me know what you think or I'm missing something for it to work.

[2021-06-29 10:09] YaroslavKormushyn commented on #319
I'd rather not have a completely separate layer to do style changes if mapbox has an out-of-the-box expression engine for that.

[2021-06-29 11:08] YaroslavKormushyn commented on #319
Judging by the [docs in mapbox](https://docs.mapbox.com/mapbox-gl-js/style-spec/layers/#paint-fill-fill-opacity) about the opacity property of layer paint:
| Supports feature-state and interpolate expressions.

This should mean that feature-state would theoretically work. Could you please shed some light on how the `id` in the Mapbox GeoJSON features is populated on init? For some reason, it's und

[2021-06-29 11:25] YaroslavKormushyn commented on #319
I've updated the stackblitz again and found what causes the issue.

[2021-06-29 11:41] #319 closed

[2021-06-30 07:53] owolfy opened #320 "3D building and 3D indoor mapping with colors"
I followed mapbox [example](https://docs.mapbox.com/mapbox-gl-js/example/3d-extrusion-floorplan/) of creating 3D indoor mapping while having 3D building and the result is grey color for all 3D objects.

When i remove 3d-buildings's 'interpolate' from the fill-extrusion-height property. The museum building has colours but all the other buildings lose their 3D feature.

I created a working stackblit

[2021-06-30 08:15] owolfy commented on #320
Turns out that 3d-buildings' layer needs to come first.

[2021-07-09 12:30] bot101 opened #321 "How to draw polygon on map?"
I can't seem to find any guide that describes how to draw polygons using the library. Searched all over the internet, and in the library itself. Any guide or pointers will be helpful, thanks.

[2021-07-09 22:26] drushadrusha commented on #203
Found the solution, works fine for me.
`const source: mapboxgl.GeoJSONSource = map.getSource('earthquakes') as mapboxgl.GeoJSONSource source.getClusterExpansionZoom(...`

[2021-07-11 16:44] bot101 commented on #321
For anyone looking for a solution to this, install https://github.com/mapbox/mapbox-gl-draw

[2021-07-11 16:45] #321 closed

[2021-07-12 08:35] Terrafire123 commented on #231
@Esteday Did you ever solve this?

[2021-07-13 14:40] ThibaultBarco opened #322 "Geocoder does not trigger geocoderResult event when result has the same id"
How to reproduce: Search for "Museumplein 7, 1071 DJ Amsterdam" then search for "Museumplein 8, 1071 DJ Amsterdam".
The camera will move but the geocoderResult event won't trigger causing you to not have new information of this new location.

Libs used:
 "@mapbox/mapbox-gl-geocoder": "4.7.1",
 "mapbox-gl": "2.3.0",
 "ngx-mapbox-gl": "6.0.4",

[2021-08-12 17:37] neverwalk opened #324 "Popup autofocus"
Hi team,
I'm having trouble with auto-focusing the popup when the map is being initialized. And the main reason is the default value of attribute "focusAfterOpen" is true [(https://docs.mapbox.com/mapbox-gl-js/api/markers/#popup)](https://docs.mapbox.com/mapbox-gl-js/api/markers/#popup)
Can you help me add more input attributes ("focusAfterOpen", "closeOnMove") to the "mgl-popup" component? We are

[2021-08-12 18:08] dmytro-gokun commented on #324
@neverwalk A PR is welcome :)

[2021-08-13 11:28] dmytro-gokun commented on #324
Closed vis #325

[2021-08-13 11:28] #324 closed

[2021-08-16 15:38] jpike88 opened #328 "Support testMode property"
Support testMode property so end to end tests don't hit the API

https://docs.mapbox.com/mapbox-gl-js/guides/browsers-and-testing/

[2021-08-16 16:24] dmytro-gokun commented on #328
@jpike88 A PR is welcome

[2021-08-18 17:27] FazioNico commented on #291
got the same question. juste discover this lib and try to manage markers.
Any solution?

[2021-08-20 15:09] FazioNico commented on #291
Final find solution to filter marker list when user move/zoom with map.
Here my solution to manage list:

[code]

You can also use `const mapBoxBound: mapboxgl.LngLatBounds = this.map.mapInstance.getBounds();` to send bounds position to your backend.

Hope this will help you.

[2021-08-28 05:41] jpike88 commented on #251
I'm having this issue too, and only with this library, none other. There is something weird about how this particular library is formed and needs attention from the maintainer.

[2021-09-10 08:08] jpike88 opened #330 "angular 12 error 'mgl-map' is not a known element using VSCode, angular language service"
We import a range of libraries in our app, and this is the only one showing this problem.

We have strict template checked enabled, and are using Ivy.

<img width="938" alt="Screenshot 2021-09-10 at 3 05 14 PM" src="https://user-images.githubusercontent.com/9585787/132821359-500634b0-a868-4a34-9d0a-7a99e76e0361.png">

See above image.

We have tried the default way of including it in our app modul

[2021-09-10 09:02] dmytro-gokun commented on #330
@jpike88 I totally agree, the issue (if it really exists) should be resolved here. We need two things for that:
1) reproduction code;
2) a PR to fix the issue.

You are welcome to help with both.

[2021-09-10 09:07] jpike88 commented on #330
update: I made a simple wrapper in-house, the map works fine, no type or build errors. so the issue is definitely to do with how the module interacts with angular's language service.

[2021-09-10 09:13] dmytro-gokun commented on #330
@jpike88 Great, now you just need to provide a reproduction and a PR. Thanks in advance!

[2021-10-07 16:01] YaroslavKormushyn opened #334 "[BUG] Zero-pitch change ignored"
I have found that when setting the `pitch` dynamic property to `[0]` the change does not propagate to the map instance. This is because when checking the values of the `move` method options we ignore all 'falsy' values instead of checking for an actual value.

https://github.com/Wykks/ngx-mapbox-gl/blob/e5af6442e1078adbb158a533a23603d27f75aa29/projects/ngx-mapbox-gl/src/lib/map/map.service.ts#L255

[2021-10-10 17:05] SalahAbasMo opened #336 "Angular 12 [cross] failed to load response"
i already implemented the map like the documentation and the map failed to load some request an loaded others

here is the problem : ( at api request "https://events.mapbox.com/events/v2")

![image](https://user-images.githubusercontent.com/30913782/136705928-98cf1f56-a4a9-41e3-8e11-1cff502be1d8.png)

![image](https://user-images.githubusercontent.com/30913782/136706034-3c4f83f7-3aa0-43d6-88a2-f12

[2021-10-10 17:24] #336 closed

[2021-11-08 00:36] william-fargues opened #338 "Load mapbox map only once"
I've implemented _ngx-mapbox-gl_ in my Angular project and everything is working fine.

My question is relative to optimization:
Can we save the map instance (in a service for example) and reuse it when another _ngx-mapbox-gl_ component is loaded in the app ?
So basically, we can reduce the Mapbox cost (Map Loads for Web) and render each _ngx-mapbox-gl_ component faster (except the first one).

[2021-11-21 18:47] snolangps opened #339 "The file “undefined-outline.svg” couldn’t be opened because there is no such file"
I'm seeing an issue of ```Unhandled Promise rejection: The file “undefined-outline.svg” couldn’t be opened because there is no such file. ; Zone: <root> ; Task: Promise.then ; Value: {} undefined```

Also, there doesn't seem to be a file necessary for `~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css` when trying to import it in the css file.

[2021-11-22 07:25] adnanebrahimi opened #340 "Angular 13 support"
After updating our Angular version to 13 the mapbox is not working. here is the error:

`Error: Failed to find '@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css'`

[2021-11-24 17:41] shanekwheeler commented on #88
I have found another case where it appears the source is not removed.
https://stackblitz.com/edit/ngx-mapbox-gl-playground-sartya

[2021-12-06 12:43] firashamila33 commented on #224
@dmytro-gokun  any updates on this ?

[2021-12-07 18:20] mateusscheper opened #342 "How to get map center position when dragging?"
Hello!

I'm trying to put a marker at the center of my map and update its position when I drag the map around.
How do I get the map current position?

[code]

[code]

[2021-12-07 20:39] mateusscheper opened #343 "No mapboxgl detected in options. Map markers are disabled. Please set options.mapboxgl."
Hello!

I'm trying to put a marker based on the search result but I'm getting the error above.
What am I doing wrong?

[code]

[code]

[2021-12-08 04:28] npilapitiya opened #344 "Map is not fill the container dynamically."
I have a map fit to the half of the page and then on a button click, I am expanding it to fit the full width, by changing the col sise. But it won't work as expected.

this is how it show initially
![image](https://user-images.githubusercontent.com/90108414/145147718-5c23e7b9-57fc-4804-97ac-6f7e81fa7cfe.png)

then when arrow click
![image](https://user-images.githubusercontent.com/90108414/1451477

[2021-12-08 04:33] mateusscheper commented on #343
I set  _mapboxgl = mapboxgl;_ even though IDE says "Type mapboxgl is not assignable to type Map" and it worked, but my marker is not draggable nor red like I defined. By the way, I printed the object to browser's console and it says my _Marker_ object is draggable and red, but it's not what I'm seeing in my map.

I noticed that if I create a marker like this
[code]

I get a _MarkerComponent_, whic

[2021-12-10 16:24] vladkasianenko commented on #340
![image](https://user-images.githubusercontent.com/14053728/145607119-4acad3a2-8089-4eaf-a16c-b20a7c7e8f68.png)

[2021-12-11 19:57] DonsWayo commented on #344
this is not a issue with the wrapper, also happen with the standalone library, you have two options:

- Resize on the mapLoad(event): this will be visible to the user (not perfect)
- Resize on the render like this:
[code]
keep in mind that the render is called many times, so add some flag to do only the first time

[2021-12-28 07:44] SalehAhmadi commented on #110
Hi there, this works perfectly.
Is there any chance to add RTL support as well? right now Persian and Arabic languages text display are wrong.
[mapbox-gl-language](https://github.com/mapbox/mapbox-gl-language#setlanguage)

[2021-12-30 06:58] juanfril commented on #340
I'm in the same situation.

[2022-01-03 09:45] tillkuhn commented on #340
While `7.1.2` works for me when using most recent Angular `13.1.1`, there are still warnings whenever I update dependencies since the current version constraints don't support Angular >12. Would appreciate if this could be fixed, since Angular 13 has been out for a while now. Thanks!

[code]

[2022-01-07 14:45] mediantiba opened #345 "ngx-mapbox-gl-geocoder-control"
I am unable to upgrade my project to Angular 13 because of this dependency.

Any plans to update this package `ngx-mapbox-gl-geocoder-control`?

[2022-01-14 22:44] cyberbobjr commented on #336
Hi,
I have the same problem, how do you fix it please ?

[2022-01-20 10:01] dlbs0 commented on #338
Hey,
Did you ever find a way to do this. I'm looking to do something similar, but can't find any documentation around online. I suspect it's not possible, but would love to find out I'm wrong.

[2022-01-24 23:50] mikgross opened #351 "Missing css file maobox-g;-geocoder.css"
ngx-mapbox-gl: "ngx-mapbox-gl": "^7.1.2"
Angular 12.2

In the documentation it is still mentioned to include the css file like so:

[code]

However the following error arises when serving:

[code]

[2022-02-01 16:52] VladislavSemenets opened #352 "Web Worker"
Heya guys, how to fix this error:

```An error occurred while parsing the WebWorker bundle. This is most likely due to improper transpilation by Babel; please see https://docs.mapbox.com/mapbox-gl-js/guides/install/#transpiling```

<img width="1421" alt="SourceBreaker 2022-02-01 18-52-04" src="https://user-images.githubusercontent.com/20847550/152013247-48bbfb49-93b6-4344-9352-66453fa0f68f.png">

[2022-02-04 16:45] Carniatto commented on #340
This is the only thing limiting my team to migrating to Angular 13. Any plans to address it?

[2022-02-04 16:47] Carniatto commented on #345
dupe of https://github.com/Wykks/ngx-mapbox-gl/issues/340

[2022-02-04 16:59] mediantiba commented on #340
Judging from the commit history of this repo, looks like it's been inactive for some time now. We had the same issue because of the upgrade, however we decided to switch to Google maps which now has an official Angular library and better support overall. For what it's worth, I liked working with Mapbox.

[2022-02-05 09:38] tillkuhn commented on #340
@mediantiba I have the same impression. Can't blame the contributors if they use their free time for something else, but it's really a pity since from a technical point if view it's still running perfectly with Angular 13, and moving to a different framework probably means a big refactoring for lots of projects. Maybe one of the forks keeps maintaining compatibility, I have not checked them yet. A

[2022-02-09 10:08] rajarajankamban commented on #352
@VladislavSemenets
Try changing the target in tsconfig.json from 'es5' to 'es2015'.

[2022-02-24 10:50] sign0 commented on #340
Resolved with ```npm install -f ...``` on Angular v13 (without the optional package @mapbox/mapbox-gl-geocoder) :
[code]

[2022-03-02 07:54] sudhanshu-hytech opened #359 "marker and navigation control not showing in map"
I am using below code:

                           <mgl-map #map1
                                [style]="'mapbox://styles/mapbox/streets-v11'"
                                [zoom]="[12]"
                                [center]="[-95.7129, 37.0902]"

                                <mgl-control mglNavigation></mgl-control>
                                <mgl-marker [lngLat]="[-95.7129, 37.090

[2022-03-10 15:28] RasmusKW opened #360 "Popup Feature Input wrong type"
Hello,
So I started using this nice library recently and I followed the "Popup on click" example to make popups for my features in a layer.
This is when I found out that the input type for the Popups might be wrong. I changed it locally from  GeoJSON.Feature<GeoJSON.Point> to mapboxgl.MapboxGeoJSONFeature which worked.

Having it as GeoJSON.Feature<GeoJSON.Point> makes the feature input complain a

[2022-03-17 11:46] wesco-abhisheksuresh commented on #263
It gives the same error in the version 7.0.9

[2022-03-17 11:47] wesco-abhisheksuresh commented on #263
in react

[2022-03-19 04:17] sudhanshu-hytech commented on #359
fixed, it was a css issue

[2022-03-19 04:17] #359 closed

[2022-04-01 11:42] sudhanshu-hytech opened #361 "Can I show popup on mouse hover on marker?"
I am currently showing markers and popups on click of markers. We have a requirement now to show popups on hover.

my template is like below :

[code]
no code relevant to map in component.

Kindly help

[2022-04-03 17:31] i-am-Chandan-Shaw commented on #47
Hello everyone, I faced a similar issue :
"node_modules/maplibre-gl/dist/maplibre-gl.d.ts:6033:65 - error TS2503: Cannot find namespace 'GeoJSON'."

My solution was simple, I went on to all the files manually from node modules and tried resolving each error one by one. For me it worked by installing two packages in which it was showing the error:

1) npm i --save-dev @types/mapbox__vector-tile
2)

[2022-04-15 20:23] kylerummens commented on #340
Force install doesn't work for me. Any update to this issue?

[2022-04-20 15:20] radacovsky opened #362 "Bug: mgl-layer does not unregister source"
Hello.
I have a layer with dedicated/dynamic source. The layer is added using *ngIf.

<mgl-layer *ngIf="selectedFeature" id="selectedLayer" type="fill" [source]="{
    type: 'geojson',
    data: selectedFeature
}" [paint]="selectedPaint"></mgl-layer>

If I add a layer, then remove it and add again I have the following error:

`17:12:04.667 ERROR Error: There is already a source with this ID
    ad

[2022-04-20 15:25] radacovsky commented on #362
Also, I noticed that MapService.addLayer creates bindings for callbacks but MapService.removeLayer does not remove them.

[2022-05-03 05:29] HarelM opened #364 "Stackblitz edit functionality is broken"
Just FYI, as I've seen this in my project as well.
When pressing the edit button on the demo show case the outcome has an error:
![image](https://user-images.githubusercontent.com/3269297/166408102-2251294b-e467-4c1d-91dd-4b56ea308565.png)
I've fixed it in the following PR:
https://github.com/maplibre/ngx-maplibre-gl/pull/45
Feel free to copy.
I'm not sure this is an ideal solution as it looks lik

[2022-05-10 14:48] Ste-denko opened #365 "Angular v13"
I am getting the following error output when executing  `npm install ngx-mapbox-gl mapbox-gl`:

[code]

I guess its becaue I got Angular v13.x installed and per documentation ngx-mapbox-gl is only compatible with Angular v12.x (v7.X : Angular 12 (rxjs >= 6.6)).
Will there be a version upgrade?

Thanks and cheers.

[2022-05-13 15:12] Ste-denko opened #366 "Different custom images in layer"
From the documentation and demos I can see that only one custom mgl-image can be used as a marker/icon-image per mgl-layer, is that correct?
If not, how can I achieve to have different marker/icon-images in one layer.
For example:
I have one layer that shows 1000 items in the map and some of them should have marker/icon A, some marker/icon B and the rest marker/icon C.

Thanks a lot in advance.

[2022-05-19 08:45] eschricker commented on #365
@Wykks can you give an update about this?

[2022-05-24 11:32] YaroslavKormushyn commented on #334
Fixed in #335

[2022-05-24 11:32] #334 closed

[2022-05-24 11:34] sudhanshu-hytech commented on #361
any help on this?

[2022-05-24 17:38] pilacst opened #369 "Issue on full screen mgl-control on chrome browser ipad."
I have tested the following demo page with IPad on a chrome browser and I can't see the fullscreen icon available in the desktop version. Please see the screenshot on the Ipad chrome browser

![image](https://user-images.githubusercontent.com/3081080/170098032-01700cfb-df23-492e-8d24-68f80520bf94.png)

in desktop chrome browser

![image](https://user-images.githubusercontent.com/3081080/170098184-

[2022-05-24 19:56] alexmac131 commented on #365
I too am using 13 and this is blocking.

[2022-06-05 13:18] Wykks commented on #365
Fixed by https://github.com/Wykks/ngx-mapbox-gl/pull/368

[2022-06-05 13:18] #365 closed

[2022-06-14 17:22] Merk42 opened #373 "Angular 13: Uncaught TypeError: Cannot set property accessToken of [object Module] which has only a getter"
I upgraded to version 8.0.0 to get it working for Angular 13, but it still doesn't work. I get the following error:
`Uncaught TypeError: Cannot set property accessToken of [object Module] which has only a getter`

I've tried the solutions here: https://stackoverflow.com/questions/44332290/mapbox-gl-typing-wont-allow-accesstoken-assignment

I've tried moving the token from `NgxMapboxGLModule.withCo

[2022-06-15 06:13] johanur-rahman commented on #373
Facing the same issue

[2022-06-15 12:13] Gobbenobber commented on #373
Same issue here. Not even sure how to circumvent  :/

[2022-06-15 15:23] mokeddes commented on #373
Facing the same issue

[2022-06-16 01:49] Thanhwebdev commented on #373
I too am facing the same issue.

[2022-06-16 17:14] bdirito commented on #373
Also an issue in angular 14 (though it doesn't appear to have anything to do with angular).

[2022-06-17 15:17] mokeddes commented on #373
I found some workaround and i have submit a [PR](https://github.com/Wykks/ngx-mapbox-gl/pull/374)

[2022-06-17 15:20] johanur-rahman commented on #373
Its great that you have updated the 'rxjs' version as well.

Waiting for it to be approved

[2022-06-18 11:18] ciukstar commented on #373
Same issue I see in my console:
[code]
Env:
[code]
[code]

[2022-06-18 19:45] mokeddes commented on #373
I make a PR with fix ( workround)

[2022-06-19 15:01] Wykks commented on #373
Fix released under v8.0.1, thanks @mokeddes

[2022-06-19 15:01] #373 closed

[2022-06-20 06:31] johanur-rahman opened #375 "No such file or directory, lstat 'node_modules\@mapbox\mapbox-gl-geocoder'"
Hi there,

I have followed the instruction given in the README file but one think I am facing is regarding referring the 'node_modules\@mapbox\mapbox-gl-geocoder'

![image](https://user-images.githubusercontent.com/93252503/174538912-fbc73dea-0465-4cc5-aa70-0527996f9038.png)

Anyone else facing the same issue? If so how to fix this?

I referred it in angular.json file

[2022-06-20 13:49] mokeddes commented on #352
@rajarajankamban @VladislavSemenets

I too am facing the same issue. I tried just about everything so far with no luck.
Any solution or workround ?

[2022-07-05 13:31] leegee opened #376 "Angular 14 compatibility?"
To `--force` or not to `--force`?

[code]

[2022-07-06 08:53] vladkasianenko opened #377 "logoPosisition"
[code]

Output:
![image](https://user-images.githubusercontent.com/14053728/177510988-3c526598-4265-434b-894d-29d8f15480f2.png)

Expected:

- mapbox logo is over the custom attributtion
- controls are over mapbox logo
- controls are not as wide as logo

[2022-07-07 14:26] killerfrost22 commented on #376
I had the same problem. I switched to node 13 to get away.

[2022-07-13 16:30] kneave opened #378 "geocoderResult: Argument of type '{ result: Result; }' is not assignable to parameter of type 'Result'."
I'm trying to use the geocoder and I'm only able to do so when I set the type to `any` on the function that receives the event. I'm new to Angular so probably using the wrong words so here's the code in question.

In map.component.html

[code]

and in map.component.ts I have

[code]

This is the result when it tries to compile:

[code]

If I instead set the function to this I get results out fine:

[2022-07-15 01:58] 791045873 commented on #361
Mapbox don't have hover event on marker.
Maybe you can use a layer, and add hover event on it

[2022-07-15 06:19] lukaszbacik commented on #203
Yes, it works ;)

[2022-07-16 08:30] leegee commented on #376
I switched to OpenLayers with Vue....

[2022-07-27 12:18] Wykks commented on #376
Angular 14 support released with v9 :)

[2022-07-27 12:18] #376 closed

[2022-08-08 06:23] samuelrajsams opened #380 "How to integrate search in this ngx-mapbox"
Can you help me on how to integrate search in the mapbox with lat,lang and addresss

[2022-08-17 13:26] m-khnarges opened #381 "Mapbox Gl CSS file error"
Hi,
I recently updated to the latest version of the 'Mapbox-gl'.
Now, when I'm running my project I get this error message.

[code]

Does anyone know what happens here?

[2022-08-18 06:55] dereekb commented on #381
More info here: https://github.com/mapbox/mapbox-gl-js/issues/12164

[2022-08-22 17:49] magnut0 opened #382 "Set color to mgl-marker"
How do you set the color property to default marker?
![image](https://user-images.githubusercontent.com/97513065/185986081-d9230648-b0df-42db-8509-9115418e5c9c.png)
![image](https://user-images.githubusercontent.com/97513065/185986188-76be34fc-8800-401b-a819-8255e6daec3b.png)

[2022-08-24 23:58] kneave commented on #364
I'm not sure if this is related but non of the examples can currently be shown in edit mode, I just see an endless spinning circle.

![image](https://user-images.githubusercontent.com/733411/186544407-b7296b57-1895-42ba-9202-9c50b34e984f.png)

[2022-08-26 12:34] kneave commented on #380
If you mean the geocoder then it's not built in by default any more and needs some extra work to get going. The code for it was removed recently, not sure why but looks like it may be temporary? You can find it in an old commit here though:
https://github.com/Wykks/ngx-mapbox-gl/tree/b6627b6e596fd5cf25963447cfe72554edd14b59/projects/ngx-mapbox-gl-geocoder-control

I'm not to sure how you're suppos

[2022-08-26 12:38] kneave commented on #380
For showing the map in a page, I added this to a *.html file in a component:

[code]

and these are the supporting methods from my *.ts file:

[code]

[2022-08-30 15:28] rhysstubbs commented on #203
Regarding Types, what about the `serialize` function?

[code]

[2022-09-15 06:11] rajarajankamban commented on #352
Use target as 'es5'. Remove all your maxbox-gl imports across components.

Now added the below in **angular.json**. So that you avoid using es6 version of it.
[code]
**In the component where you want to use mapbox-gl**
import { Component ... } from "@angular/core";
.
.
declare const mapboxgl: any;
@Component({
...
})

export class Component{
  _mapboxgl: any = mapboxgl;
  map:any;
  buildMap(){

[2022-09-19 05:02] itpmanis commented on #263
issue solved
 npm install @types/mapbox__mapbox-gl-geocoder

[2022-09-27 06:45] mzhelyaskov opened #383 "Non-existent RxJS peer dependency"
Hi, version 8.0.1 has `"rxjs": "^7.4.6"` peer dependency. RxJS version 7.4.6 doesn't exist. Could you change it to `"rxjs": "^7.4.0"`?

[2022-10-10 14:33] mendhak commented on #330
@jpike88  could you share your wrapper or any other details?  We're running into this issue as well (Angular 14) and I can't figure out what's missing.  The basic example given in the README doesn't compile.

[2022-11-03 13:33] joldibaev opened #384 "cooperativeGestures"
I cant find option to use this feature in this lib

https://docs.mapbox.com/mapbox-gl-js/example/cooperative-gestures/

[2022-11-05 06:25] #375 closed

[2022-11-08 14:22] mbrammer commented on #380
Question to the devs of this repo. Why was the `mglGeocoder` directive removed and can you reintegrate it?
I am currently upgrading a customers project from Angular 10 to 14 and they definitely need the search input on the map.

[2022-11-08 14:27] kneave commented on #380
Note: Not one of the devs, just a user who had to dig in to a lot of this.

I can't remember the reasoning but it was supposed to be a temporary thing, possibly they intended to move to it's own repo and then integrate as an external component? The workaround I mentioned above certainly works for Angular 13, not sure about 14 but certainly worth trying.

[2022-11-08 16:46] mbrammer commented on #380
Yes, that's what I thought. Otherwise I would have pinged you directly ;)
Unfortunately your instruction didn't work, because `ng build` can't be executed (missing angular.json). But I decided to integrate the directive into our project anyway. But it would be nice if it would be part of the NgxMapboxGLModule again.
Maybe @Wykks can give us some feedback?

[2022-11-08 16:48] kneave commented on #380
Ah, no idea how I built it in that case and it was a long while back. Sorry it didn't help

[2022-11-09 17:10] 0nza1101 commented on #259
Since binding in the template like so : `<mgl-map [style]="style" [zoom]="[9]" [center]="center" [transformRequest]="injectToken.bind(this)"></mgl-map>` won't work for me (browser stuck).
This worked :
`<mgl-map [style]="style" [zoom]="[9]" [center]="center" [transformRequest]="injectToken"></mgl-map>`
`injectToken = (url: string, resourceType: ResourceType): RequestParameters => {
      if (

[2022-11-11 11:12] YaroslavKormushyn opened #385 "Extend `MapImageOptions` for stretchable images"
Mapbox has support for stretchable images, which we may include in existing `mgl-image` support.

[2022-11-12 11:37] Lemming8 commented on #382
Have you by chance found a solution for this?

[2022-11-12 15:08] magnut0 commented on #382
Yes. I used my own SVG markers.
`<ng-container>
     <mgl-marker #myMarker [lngLat]="[marker.longitude, marker.latitude]">
         <img src="../../../../assets/img/map/m-automatic-clock-out.svg" />
     </mgl-marker>
 </ng-container>`

[2022-11-12 20:40] Lemming8 commented on #382
That's the only solution I found as well, thanks for the snippet

[2022-11-13 04:16] csimpi commented on #382
Same here, would be great to set the color

[2022-11-27 02:46] coman3 opened #387 "Angular v15"
Need to update to Angular v15 :)